<div class="contents">
    
  <% @blogs.each do |blog| %>
    <div class="content">
        <P class="blog_text">
        <%= blog.text %>
        </P>
            
        <ul class="blogbtns">
            <li class="blog_btn">
              <%= link_to "SHOW", blog_path(blog.id) %>
            </li>
            <li class="blog_btn">
              <%= link_to "EDIT", edit_blog_path(blog.id) %>
            </li>
            <li class="blog_btn">
              <%= link_to "DESTROY", blog_path(blog.id), method: :delete %>
            </li>
            
        </ul>
     </div>
    <% end %>

</div>